* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 100%;
	font-family: cursive;
}

section {
	/*height: 100vh;
	*/
	height: auto;
	background: radial-gradient(circle farthest-side, #fceabb, #a06b1b);
}
.logo {
	max-width: 10%;
	margin: 10px 20px;
}
.logo img {
	max-width: 100%;
	height: auto !important;
	border-radius: 95%;
	border: 2px solid #422800;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15vh;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
nav ul {
	display: flex;
	flex-flow: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	list-style-type: none;
}
ul li a {
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #262625;
	font-weight: bold;
	transition: 0.5s;
}
ul li a:hover {
	background: rgba(128, 128, 128, 0.863);
	color: #fff;
	transition: 0.5s;
}
.dropbtn {
	background-color: transparent;
	font-size: 100%;
	font-family: cursive;
	border: none;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	font-weight: bold;
	transition: 0.5s;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: rgba(128, 128, 128, 0.863);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: rgba(128, 128, 128, 0.863);
}

.bkg {
	padding: 1vh;
}
#principal {
	width: 100%;
	padding: 0 7%;
	display: table;
	margin: 0;
	max-width: 100%;

	background-image: url("/img/restaurant-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main {
	position: relative;
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 5px solid whitesmoke;
	background: radial-gradient(circle farthest-side, #fceabb, #e6b873);
	padding: 20px;
}
.main h1,
h2,
button {
	margin: 10px;
}
.main h1 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 3em;
	letter-spacing: -2px;
	border-bottom: 2px solid black;
	text-transform: uppercase;
}
.main button {
	background-color: #fbeee0;
	border: 2px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 4px 4px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	padding: 0 18px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.main button:hover {
	background-color: #fff;
}

.main button:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}
footer {
	width: 100%;
	height: 3vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	font-style: italic;
}
footer p {
	font-weight: bold;
}

input,
select,
textarea {
	border-radius: 2px;
	border: 2px solid #777;
	box-sizing: border-box;
	font-size: 1.05em;
	font-family: cursive;
	width: 100%;
	padding: 10px;
}
label {
	display: block;
	font-family: cursive;
	padding-top: 10px;
	font-size: 1.05em;
	color: white;
}
div.elem-group {
	margin: 0;
}

div.elem-group.inlined {
	width: 49%;
	display: inline-block;
	float: left;
	margin-left: 0;
}

hr {
	border-radius: 2px;
	border: 2px solid #777;
}
form {
	background: radial-gradient(circle farthest-side, #fceabb, #a06b1b);
	border: 2px solid #422800;
	border-radius: 30px;
	padding: 10px;
	min-width: 50vh;
}
.formButton {
	position: relative;
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.formButton button {
	background-color: #fbeee0;
	border: 2px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 4px 4px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	padding: 0 18px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.formButton button:hover {
	background-color: #fff;
}

.formButton button:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}

.text {
	flex-grow: 0.5;
	margin-bottom: 0.8em;
	background: radial-gradient(circle farthest-side, #fceabb, #a06b1b);
	border: 2px solid #422800;
	border-radius: 30px;
	padding: 10px;
}

.text h3:nth-of-type(2) {
	margin-top: 01.438rem;
}

.plate {
	display: flex;
	align-items: center;
}

.plate p:first-child {
	text-transform: uppercase;
}

.plate p {
	margin: 0;
}

.dots {
	border-bottom: 1px solid #ededed;
	flex: 1;
	margin: 0 10px 0 10px;
}

.description {
	margin: 0 0 20px 0;
}
.mainMap {
	position: relative;
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 5px solid whitesmoke;
	background: radial-gradient(circle farthest-side, #fceabb, #e6b873);
	margin: 2% auto;
}
.mainMap h1,
h2,
button {
	margin: 10px;
}
.mainMap h1 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 3em;
	letter-spacing: -2px;
	border-bottom: 2px solid black;
	text-transform: uppercase;
}
.container {
	width: 100%;
	height: 80%;
	margin: 2%;
	box-shadow: 0px 0px 10px #c8c7d9;
	position: relative;
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	flex-direction: row;
	border: 5px solid whitesmoke;
	background: radial-gradient(circle farthest-side, #fceabb, #e6b873);
	padding: 20px;
}
.container .map {
	width: 100%;
	height: 100%;
	float: left;
	border: 2px solid whitesmoke;
	margin: 2%;
}
